*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #202120;
}
th,div,tr,td{
    color: white;
}
table{
    
    table-layout: fixed;
}
#header{
    text-align: center;
    font-size: 40px;
    
}
#buttonContainer{
    display: flex;
    justify-content: center;
    padding:15px 32px;
}
#openModalButton{
    padding:10px 20px;
    font-size: 15px;
}



#tableContainer{
    display: flex;
    flex-direction: column;
}
td{
    text-align: center;
    padding: 0px 5px;
}

label,input{
    padding: 10px 5px;
}
dialog{
    position: relative;
    
}
form{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
form span{
    text-align: center;
}
select{
    margin:10px;
}

input[type='checkbox']{
    margin:0px 15px;
}